.App {
  text-align: center;

}


 


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #652152;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  min-height: 100vh;
 /* margin-top: 5%; */
 
  background-color: #2A4E45;
  }

  .search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  }
  .search-bar{
  width: 40%;
  border:none;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 0px 4px 3px  #000;
  }
  .search-button{
  background: #F06A49;
 border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-size: larger;
  box-shadow: 3px 0px 4px 3px  #000;

  margin: 0 0 0 10px;
  }
  .search-button:hover {
  background-color:#2A4E45 ;
  }
  .recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
